form {
	background-color: blueviolet;
	width: 60%;
	margin-bottom: 50px;
	padding: 20px;
	color: white;
}

form label {
	padding: 10px;
}

form input {
	background-color: rgb(243, 241, 241);
	margin: 10px 20px;
	height: 30px;
	padding: 0 20px;
}
