body {
	/* width: 100%; */
	margin: 3rem;
}

table td {
	width: 100px;
}

.grocery-table {
	width: 100%;
	text-align: center;
	font-size: 20px;
	background-color: rgb(14, 24, 24);
	color: white;
}

.grocery-table thead tr th {
	background-color: rgb(90, 90, 90);
	font-size: 32px;
	padding: 10px;
}

.grocery-table tbody tr td {
	padding: 10px;
	border-radius: 12px;
	border: 1px solid rgba(255, 255, 255, 0.445);
}

.grocery-table .grocery-item {
	font-weight: 700;
}

.grocery-table .grocery-item__price {
	font-size: 1rem;
	background-color: #1d0727;
	padding: 0.5rem;
}
